<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772633671481-0i5rch3icder7ob5v190h0pgl7clsde2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772633671481-0i5rch3icder7ob5v190h0pgl7clsde2</string>
	<key>API_KEY</key>
	<string>AIzaSyCrwvvcqmpeGfykGFOxS9ccAct9veofboo</string>
	<key>GCM_SENDER_ID</key>
	<string>772633671481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.yapp.22th.pyonsnalcolor</string>
	<key>PROJECT_ID</key>
	<string>pyonsnalcolor-e3d90</string>
	<key>STORAGE_BUCKET</key>
	<string>pyonsnalcolor-e3d90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772633671481:ios:93cade7c351eb0e4a55ae8</string>
</dict>
</plist>